@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    letter-spacing: 1px;
    
}

/* body {
	background-color: black;
} */

section {
	height: 60vh;
}
.secao1{
	height: 20vh;
}

#check {
	display: none;
    }

#check:checked ~ .barra {
	-webkit-transform: translate(300px);
	   -moz-transform: translate(300px);
	    -ms-transform: translate(300px);
	     -o-transform: translate(300px);
	        transform: translate(300px);
}

.icone {
	text-decoration:dashed;
	font-size: 20px;
	padding: 10px;
	position: fixed;
	z-index: 2;
	cursor: pointer;
    left: 20px;
    top: 20px;
	color: rgb(255, 255, 255);
	background-color: black;
	border-radius: 10px;
	border:1px solid white ;
	
	
}



.barra {
	
	border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
	width: 300px;
	height: 80%;
	position: fixed;
	background-color: black;
	padding-top: 50px;
	left: -300px;
	-webkit-transition: all .35s linear;
	   -moz-transition: all .35s linear;
	    -ms-transition: all .35s linear;
	     -o-transition: all .35s linear;
	        transition: all .35s linear;
    text-align: center;
}

.phase {
	text-align: center;	
}

.phase {
	background-color: rgb(17, 17, 17);
	border-radius: 50px;
	height: 100px;
	
}

.-phase {
	font-family: "Dancing Script", cursive;
  	font-optical-sizing: auto;
  	font-weight: 200;
  	font-style: normal;
	font-size: 40px;
	color: rgb(255, 255, 255)
  
}

.--phase {
	
  font-family: "Edu VIC WA NT Beginner", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size:20px;
  color: rgb(250, 249, 249)
	}



