.menubar {
    height: 300px;
    width: 100%;
}
.menu {
    display: flex;
    padding-top: 10vh;
    justify-content: center;
}

.conteudos #click{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: x-large;

    
}

#click {
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    width: 200px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

}

#click:hover{
    background: goldenrod;
    transition: all 0.6s ease;

}
#click h4:hover{
    color: rgb(255, 255, 255);
    transition: all 0.1s ease;

}



#click a{
    text-decoration: none;
    color: rgb(1, 1, 1);
}


